<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
</head>
<body>
  <main>
  <% @pokemons.each do |pkm|%>
    <blockquote class = "pkm">
         <a href="/pokemon/<%= pkm.name%>">
          <img src="<%= pkm.sprites.front_default %>" alt="<%= pkm.name%>">
         </a>
        <legend><%= pkm.name%></legend>
    </blockquote>
  <% end %>
  </main>
</body>
</html>
